.button{
    &,
    &:link,
    &:visited {
        height: 3rem;
        width: 95%;
        background-color: $color-primary;
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        padding: .7rem 0;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
    }

    // &__btn-text {
    //     margin-left: .5rem;
    // }

    &:hover {
        background-color: rgb(28, 78, 49);
    }
}